* {
  box-sizing: border-box;
  font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
}

:root {
  --button-color: rgb(49, 21, 153);
  --button-hover: rgb(156, 113, 204);
  --border-color: gray;
}

/*:::::::::::: Landing page ::::::::::::*/
h1,
h4,
.landing-paragraph {
  text-align: center;
}

body{
  display: flex;
  padding: 80px 250px;
  justify-content: center;
}

.timer-container,
.hs-btn-section {
  display: flex;
  justify-content: space-between;
}

.high-score-text {
  display: block;
  color: purple;
  padding-left: 25px;
}

.high-score-text:hover {
  cursor: pointer;
}

.clock {
  display: block;
  color: purple;
  padding-right: 25px;
  width: 125px;
  text-align: left;
}

.landing-paragraph {
  margin: auto;
  max-width: 550px;
  font-size: 1.2rem;
  margin: auto;
}

.start-button {
  background-color: var(--button-color);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  align-self: center;
  margin-top: 20px;
}

#start-button-container {
  text-align: center;
  margin: auto;
}

.start-button,
#go-back,
#clear-history:hover {
  cursor: pointer;
}

/*:::::::::::: quiz pages :::::::::::: */
#quiz-container,
#scores-container {
  min-width: 500px;
  max-width: 700px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.main-box {
  padding: 0px 150px 20px 150px;
}

#scores-container {
  max-width: 400px;
  margin: auto;
}

.scores-main-box p {
  display: block;
  padding-left: 30px;
  margin: 0px 45px 0px 45px;
}

.question {
  text-align: left;
}

.answer {
  display: block;
  margin-bottom: 10px;
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.answer-validation {
  border-top: 2px solid var(--border-color);
  padding-top: 10px;
  color: var(--border-color);
}

.answer:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}

.red {
  color: red;
}

.done-h1,
.player-score {
  text-align: left;
  padding-left: 63px;
}

/*:::::::::::: high scores page ::::::::::::*/
.initials-p {
  text-align: left;
}

.hs-initials {
  padding: 5px 0px 5px 66px;
  padding-left: 20px;
  margin: 5px;
}

.gray-bg {
  background-color: rgba(173, 130, 214, 0.37);
  margin: 5px;
}

.hs-h1 {
  margin: 30px 0px 30px;
}

#sub-button,
#go-back,
#clear-history {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.hs-btn-section {
  justify-content: space-around;
  margin-top: 20px;
}

#go-back {
  margin-left: 50px;
  margin-bottom: 20px;
}

#clear-history {
  margin-right: 50px;
  margin-bottom: 20px;
}