* {
  box-sizing: border-box;
  /* margin: 0px; */
}

h1, h4,
.landing-paragraph {
  text-align: center;
}

:root {
  --button-color: rgb(49, 21, 153);
  --button-hover: rgb(156, 113, 204);
  --border-color: gray;
}

#quiz-container {
  /* border: 3px dashed purple; */
  max-width: 40%;
  margin: 100px auto auto auto;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.timer-container, .hs-btn-section {
  /* border: 3px dashed blue; */
  display: flex;
  justify-content: space-between;
}

.high-score-text {
  display: block;
  color: purple;
  padding-left: 25px;
  /* font-size: 1.5rem; */
}

.high-score-text:hover{
    cursor: pointer;
}

.clock {
  display: block;
  color: purple;
  padding-right: 25px;
  width: 125px;
  text-align: left;
}

.main-box {
  /* border: 3px dashed green; */
  padding: 0px 150px 20px 150px;
}

#scores-container{
  max-width: 400px;
  margin: auto;
}

.scores-main-box p{
  display: block;
  /* max-width: 300px; */
  padding-left: 30px;
  margin: 0px 45px 0px 45px;
}

.landing-paragraph {
  margin: auto;
  max-width: 550px;
  font-size: 1.2rem;
  /* margin-bottom: 20px; */
  margin: auto;
}

.start-button {
  background-color: var(--button-color);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  align-self: center;
}

.start-button:hover {
  cursor: pointer;
}

.question {
  text-align: left;
}

.answer{
  display: block;
  margin-bottom: 10px;
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.answer-validation {
  border-top: 2px solid var(--border-color);
  padding-top: 10px;
  color: var(--border-color);
}

.answer:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}

.red {
  color: red;
}

.done-h1,
.player-score {
  text-align: left;
  padding-left: 63px;
}

.initials-p {
  text-align: left;
}

.hs-initials {
  padding: 5px 0px 5px 66px;
  padding-left: 20px;
  margin: 5px;
}

.gray-bg {
  background-color: rgba(173, 130, 214, 0.37);
  margin: 5px;
}

.hs-h1 {
  margin: 50px 0px 40px;
}

#sub-button, #go-back, #clear-history{
    /* margin-bottom: 5px 10px; */
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

#start-button-container{
    /* border: 3px dashed green; */
    text-align: center;
    margin: auto;
}

.hs-btn-section{
  justify-content: space-around;
  margin-top: 20px;
}

#go-back{
  margin-left: 50px;
}

#clear-history{
  margin-right: 50px;
}